@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');

.mainPage{
    background: rgba(240, 228, 215, .9);
    height: 96vh;
    width: 45vw;
    border-radius: 8px;
}

.title{
    font-family: 'Recursive', sans-serif;
    font-size: 4.5rem;
    padding: 3rem;
    text-align: center;
    color: #00917c;
}

.footer{
    position: absolute;
    bottom: 2rem;
    left: 4rem;
}