@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');

.mainPage{
    background: rgba(240, 228, 215, .9);
    height: 96vh;
    width: 45vw;
    border-radius: 8px;
}

.mainBtn{
    font-size: 2rem;
    border-color: transparent;
    margin: 1.2rem;
    text-transform: uppercase;
    background-color: #95e1d3;
    padding: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s;
}

.mainBtn:hover{
    border-color: #383e56;
}

.title{
    font-family: 'Recursive', sans-serif;
    font-size: 4.5rem;
    padding: 3rem;
    text-align: center;
    color: #00917c;
}

.footer{
    position: absolute;
    bottom: 2rem;
    left: 4rem;
}